<article class="entry">
    <div class="content">
        <p>User Name: {{user.name}}</p>
        <p> Number of Entrys: {{posts.length}}</p>
        <a id="editInfo" href="/dashboard/edituser">Edit My Info</a>
    </div>
</article>