<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="page-container flex-column justify-space-around">
        <div id="content-wrapper">
            <header class="display-flex justify-space-between align-center p-2">
                <h1>
                    <a class= "title" href="/">The Tech Blog</a>
                </h1>
                <nav>
                    <span> <a class="no-button" href="/">Home</a></span>
                    {{#if loggedIn }}
                    <a class="no-button" href="/dashboard">Dashboard</a>
                    <button class="no-button" id="logout" class="btn">logout</button>
                    {{else}}
                    <a class="no-button" href="/login">Login</a>
                    {{/if}}
                </nav>
            </header>
            <main class="container container-fluid mt-5">
                {{{ body }}}
            </main>
            <footer id="footer">
                <p class="footbtn">Thank you for blogging with us!</p>
            </footer>
        </div>
    </div>
    {{#if loggedIn}}
    <script src="/public/js/logout.js"></script>
</body>
</html>