:root {
    --primary: #3d5852;
    --nav: #86938f;
    --NavText: #5e877f;
    --mainText: rgb(14, 11, 11);
    --light: #e3e4e3;
    --aquamarine: #1b89bc;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--primary);
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--nav);
    color: var(--NavText);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
  }
  
  .gallery {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  }
  
  .title:hover {
    cursor: pointer;
    color: var(--aquamarine)
  }

  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--NavText);
    text-decoration: none;
    font-size: 100%;
    margin-right: 25px;
  }
  
  .no-button:hover {
    color: var(--aquamarine);
    text-decoration: none;
  }

  /* CARDS */
  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .login {
    padding: 2%;
    margin-right: 10%;
    border-radius: 10%;
    background-color: var(--nav);
    border-color:var(--NavText);
    color: var(--NavText);
    border-width: 2px;
    border-style: outset;
    margin: 3%;
    text-align: center;
    width: 250px;
    height: 300px;
  }
  .signup {
    padding: 2%;
    margin-right: 10%;
    border-radius: 10%;
    background-color: var(--nav);
    border-color: var(--NavText);
    color: var(--NavText);
    border-width: 2px;
    border-style: outset;
    margin: 3%;
    text-align: center;
    width: 250px;
    height: 300px;
  }

  .new-entry-form {
    padding: 2%;
    margin-right: 10%;
    border-radius: 10%;
    background-color: var(--nav);
    border-color:var(--NavText);
    color: var(--NavText);
    border-width: 2px;
    border-style: outset;
    margin: 35px;
    text-align: center;
    width: 250px;
    height: 300px;
  }
  .about-me {
    padding: 2%;
    margin-right: 10%;
    border-radius: 10%;
    background-color: var(--nav);
    border-color:var(--NavText);
    color: var(--NavText);
    border-width: 2px;
    border-style: outset;
    margin: 3%;
    text-align: center;
    width: 250px;
    height: 300px;
  }
  .update-info {
    padding: 2%;
    margin-right: 10%;
    border-radius: 10%;
    background-color: var(--nav);
    border-color:var(--NavText);
    color: var(--NavText);
    border-width: 2px;
    border-style: outset;
    margin: 3%;
    text-align: center;
    width: 300px;
    height: 250px;
  }

  .comment-form {
    margin: 20px;
    text-align: center;
  }

  .content {
    font-weight: 500;
  }

  .entry-title {
    text-align: center;
    font-weight: 700;
  }

  .entry-title-block {
    margin-bottom: 15px;
  }

  .entry-label {
    margin-right: 10px;
    font-weight: 600;
  }

  .entry-text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  input {
    min-height: 30px;
    margin-bottom: 15px;
  }

  #edit-entry {
    display: block;
    padding-bottom: 10px;
    text-align: center;
    color: var(--aquamarine);
  }

  #edit-entry:hover {
    text-decoration: underline;
  }

  #updateBtn {
    background-color: var(--nav);
    color: var(--NavText);
    border-color:var(--NavText);
    padding: 5px;
    }
  #updateBtn:hover {
    color: var(--aquamarine);
    border-color:var(--aquamarine);
    padding: 5px;
    }

  #editInfo:hover {
    color: var(--aquamarine);
  }

  .row {
    display: flex;
    flex-direction: column-reverse;
    margin: 5%;
    justify-content: center;
    width: 85%;
  }
  @media only screen and (min-width: 768px) {
    .row {
      display: flex;
      flex-direction: row-reverse;
      margin: 5%;
      justify-content: center;
    }
  }

  .entry {
    margin-bottom: 2%;
    line-height: 150%;
    text-align: center;
  }
  
  .entry .title {
    font-style: bold;
    font-size: 1.1rem;
    color: black;
    text-align: center;
  }
  
  .entry .title span {
    font-style: bold;
    font-size: 1.1rem;
    color: black;
  }
  .entry .posted {
    font-style: italic;
    font-size: 0.7rem;
    color: #7d7d7d;
    text-align: center;
    margin-bottom: 14px;
  }

  .entry .posted span {
    font-style: italic;
    font-size: 0.7rem;
    color: #7d7d7d;
  }

  .entry-list {
    margin: 0;
    padding: 40px;
    list-style-type:none;
  }

  .entry-list li {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .delete-entry-btn {
    background-color: #d41414;
    margin: 10px;
  }

  .dashboard-entries li {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .delete-entry-btn:hover {
    background-color: #ff643d;
  }

  .logindiv {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
  }
  @media only screen and (min-width: 768) {
    .logindiv {
      margin-left: 8%;
    }
  }

  .page-container {
    position: relative;
    min-height: 100vh;
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
  }

  .entry-title-home {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #content-wrapper {
    padding-bottom: 2.5rem;
  }

  .footbtn {
    background: none;
    border: none;
    padding: 0 0 30px 0;
    cursor: default;
    color: var(--nav);
    text-decoration: none;
    font-size: 100%;
  }

  .footbtn:hover {
    color: var(--NavText);
  }